@media (max-width: 1440px) {
  .btn--start {
    font-size: 5rem;
    width: 70vw;
  }

  .instruction {
    left: 23rem;
    top: 10rem;
    line-height: 3rem;
  }
}

@media (max-width: 1024px) {
  .btn--start {
    font-size: 4rem;
    padding: 4.5rem;
  }

  .instruction {
    left: 6rem;
    top: 10rem;
    line-height: 3rem;
  }

  main {
    width: 90rem;
    height: 50rem;
  }

  .win-title {
    top: 1rem;
    font-size: 2rem;
  }

  .name {
    font-size: 2.9rem;
  }

  .player {
    padding: 7rem;
  }

  .dice {
    top: 15rem;
  }

  .btn {
    font-size: 1.3rem;
    padding: 1rem;
  }

  .btn--roll {
    top: 32rem;
  }

  .btn--hold {
    top: 40rem;
  }

  .btn--new {
    top: 35.3rem;
  }
}

@media (max-width: 768px) {
  .btn--start {
    font-size: 2.9rem;
  }

  .instruction {
    left: 4rem;
    top: 11rem;
    line-height: 3rem;
    font-size: 1.1rem;
  }

  main {
    width: 70rem;
    height: 50rem;
  }

  .win-title {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2.9rem;
  }

  .player {
    padding: 5rem;
  }

  .dice {
    top: 15rem;
  }

  .btn {
    width: 10rem;
    height: 8rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    line-height: 2rem;
  }

  .btn::first-letter {
    margin: 0;
  }

  .btn--roll {
    top: 30rem;
  }

  .btn--hold {
    top: 40rem;
  }

  .btn--new {
    top: 36rem;
  }
}

@media (max-width: 425px) {
  .btn--start {
    font-size: 2.9rem;
  }

  .instruction {
    left: 0rem;
    top: 0rem;
    line-height: 3rem;
    font-size: 1.2rem;
  }

  main {
    top: 5rem;
    width: 40rem;
    height: 75rem;
    flex-direction: column;
  }

  .win-title0,
  .win-title1 {
    padding: 5rem;
    line-height: 4rem;

    border: solid 5px rgba(255, 255, 255, 0.7);
    border-radius: 2rem;

    background-color: white;
    background-color: rgba(88, 23, 41, 0.7);
    backdrop-filter: blur(10px);
  }

  .win-title0 {
    top: 10.5rem;
  }

  .win-title1 {
    top: 48rem;
  }

  .name {
    font-size: 2rem;
  }

  .score {
    margin: 2rem;
  }

  .current {
    padding: 1.5rem;
    width: 100%;
  }

  .player {
    padding: 5rem;
  }

  .dice {
    top: 1rem;
    left: 35rem;
    height: 10%;
  }

  .btn {
    width: 17rem;
    height: 5rem;
    border-radius: 1rem;
  }

  .btn::first-letter {
    margin: 0;
    font-size: 2rem;
  }

  .btn--roll {
    top: 35rem;
    left: 11rem;
  }

  .btn--hold {
    top: 35rem;
    left: 29rem;
  }

  .btn--new {
    top: 35rem;
    width: 60vw;
  }
}

@media (max-width: 375px) {
  .btn--start {
    border-radius: 2rem;
    line-height: 5rem;
  }

  .instruction {
    top: 0rem;
    line-height: 3rem;
    font-size: 1rem;
  }

  .dice {
    left: 30.5rem;
    height: 7rem;
  }

  .btn {
    width: 8rem;
    height: 10rem;
  }

  main {
    top: 5rem;
    width: 35rem;
  }

  .player {
    padding: 5rem;
  }

  .btn--roll {
    top: 33.5rem;
    left: 13rem;
  }

  .btn--hold {
    top: 33.5rem;
    left: 22rem;
  }

  .btn--new::first-letter {
    font-size: 3.2rem;
  }

  .btn--new {
    top: 34.5rem;
    width: 70vw;
    height: 6rem;
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .btn--start {
    border-radius: 2rem;
    font-size: 2.5rem;
  }

  .instruction {
    font-size: 0.875rem;
  }

  .dice {
    left: 26.5rem;
    height: 5rem;
  }

  main {
    width: 30rem;
  }

  .btn--roll {
    left: 10rem;
  }

  .btn--hold {
    left: 20rem;
  }

  .btn--new::first-letter {
    font-size: 2.5rem;
  }

  .btn--new {
    font-size: 1.5rem;
  }
}
